html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    font-family: arial, helvetica;
    color: #fff;
}

.section.sp-section {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.section {
    text-align: center;
    position: relative;
}

.sp-wrapper {
    height: 100%;
    position: relative;
    touch-action: none;
}

.sp-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.sp-floatLeft {
    float: left;
}

.navbar-brand {
    text-decoration: none !important;
    letter-spacing: -1px;
    font-weight: 900;
}

.navbar-dark button:focus {
    outline: none !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255, 1);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255, 1);
    text-shadow: 0px 0px 2px #fff;
}

.menu-active {
    position: absolute;
    top: 0px;
    left: 0;
    width: 101px;
    height: 1.5px;
    transition: left 600ms ease;
    background: #fff;
}

@media (max-width: 991.98px) {
    .bd-navbar {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .bd-navbar .navbar-nav-scroll {
        max-width: 100%;
        height: 2.5rem;
        margin-top: .25rem;
        overflow: hidden;
    }
    .bd-navbar .navbar-nav-scroll .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}